*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.breadcrum{
    
    display: flex;
    align-items: center;
    gap: 8px;
    color: #5e5e5e;
    font-size: 14px;
    font-weight: 600;
    margin: 30px 130px;
    margin-top: 130px;
    text-transform: capitalize;
}