*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white; /* Ensure the background color is set */
    z-index: 1000; /* Ensure it stays on top of other elements */
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo p{
    color: #171717;
    font-size: 38px;
    font-weight: 600;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 45px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #FF4141;
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-login-cart button{
    width: 107px;
    height: 48px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    cursor: pointer;
}

.nav-login-cart button:active{
    background-color: #f3f3f3;
}

.nav-cart-count{
    width: 19px;
    height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -34px;
    margin-left: -53px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}