*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.productdisplay{
    display: flex;
    margin: 0px 130px;
    /* margin-bottom: 50px; */
}

.product_left{
    display: flex;
    gap: 15px;
}

.image_list{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.image_list img{
    height: 140px;
    border-radius: 3px;
}

.productdisplay-main-img{
    width: 500px;
    height: 600px;
    border-radius: 6px;
}

.product_right{
    display: flex;
    flex-direction: column;
    margin: 0px 35px;
}

.product_right h1{
    color: #3d3d3d;
    font-size: 32px;
    font-weight: 700;
}

.product-right-star{
    display: flex;
    align-items: center;
    margin-top: 8px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}

.product-prices{
    display: flex;
    margin: 25px 0;
    font-size: 22px;
    gap: 30px;
    font-weight: 700; 
}

.old-price{
    color: #818181;
    text-decoration: line-through;
}

.new-price{
    color: #ff4141;
}

.product-discription{
    font-size: 15px;
}

.product-size h1{
    margin-top: 25px;
    color: #656565;
    font-size: 23px;
    font-weight: 600;
}

.sizes{
    display: flex;
    margin: 20px 0;
    gap: 20px;
}

.sizes div{
    padding: 14px 20px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    cursor: pointer;
    border-radius: 5px;
}

.product_right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    outline: none;    
    color: white;
    background-color: #FF4141;
    margin-bottom: 25px;
    border-radius: 15px;
}

.right-category{
    margin-top: 10px;

}

.heading-para{
    font-weight: 600;
}